/* Общие стили для всей страницы и для общих элементов - начало*/
@font-face {
    src: url(assets\fonts\FredokaOne-Regular.ttf);
    font-family: 'Fredoka';
    font-weight: 400;
}

body {
    font-family:'Roboto', sans-serif;
    color: black;
    max-width: 100vw;
    padding: 0 calc((100vw - 1600px)/2);
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.button_1,
.button_2 {
    width: 165px;
    height: 49px;
    box-sizing: border-box;
    border: 0;
    border-radius: 5px;
    background: #D23166;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    color: #FAFAFA;
    font-size: 16px;
    font-style: normal;
}

.button_1 {
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 700;
/*line-height: normal; - здесь нужо менять или оставить? */
}

.button_2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
/*line-height: normal; - здесь нужо менять или оставить? */
}

.button_1:hover,
.button_2:hover {
    background: #8f2146;
}
/* Общие стили для всей страницы и для общих элементов - конец*/


/*Стили Альмиры*/
.main {
    width: 1600px;
    height: 862px;
    background-color: #FBF0F4;
    background-clip: border-box;
    flex-shrink: 0; /*Попробовать тут overflow: hidden;*/
}

.header {
    height: 79px;
    max-width: 1125px;
    margin: 0 230px 0 245px;
}

.header .container {
    display: flex;
    align-items: center;
}

.menu {
    margin-left: 266px;
}

.menu_list {
    list-style: none;
    display: flex;
    padding-inline-start: 0;
}

.menu_list_item {
    margin-right: 40px;
}

.menu_list_item a {
    color: #150101;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
}

.menu_list_item a:hover {
    border-bottom: 2px solid #150101;
}

.header .button_1 {
    cursor: pointer;
    margin-left: auto;
}

.main-content {
    padding-top: 196px;
    padding-bottom: 213px;
    margin-left: 254px;
}

.main-content .container {
    position: relative;
}

.main-content_info {
    max-width: 665px;
}

.main-content_info_tagline {
    display: inline-block;
    color: #0F0101;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
}

.main-content_info_title {
    color: #0F0101;
    font-family: 'Fredoka One', sans-serif;
    font-size: 57.33px;
    font-weight: 400;
    line-height: 120.5%;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    margin-bottom: 35px;
    opacity: 0.9;
}

.main-content_info_text {
    max-width: 523px;
    color: #0F0101;
    font-family: Hind Madurai;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 50px;
}

.main-image {
    position: absolute;
    top: -123px;
    left: calc(100% - 991px);
}



.main-content_image
.main-content_image_ice-cream
.main-content_image_splash