/* Общие стили для всей страницы и для общих элементов - начало*/
@import url(https://db.onlinewebfonts.com/c/5165c0facbfede7afe6c9ef3fd635f11?family=Fredoka+One);

@font-face {
  font-family: "Fredoka One";
  src: url("https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.eot");
  src: url("https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.svg#Fredoka One")
      format("svg");
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

/* Коммент Виталии: тут я бы указала, что эти стили для button_1, button_2 подходят для всех кнопок, кроме последних двух, одна в разделе Ольги "Send", вторая в моём разделе футер "Subscibe". Точнее эти стили нам тоже подходят, но нам нужно поменять только размер кнопок, ну и кнопки у нас должны быть не просто обычные, а для формы, это в html нужно написать по-другому, коммент для Ольги и для меня больше:) */

.button_1,
.button_2 {
  width: 165px;
  height: 49px;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
  background: #d23166;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  color: #fafafa;
  font-size: 16px;
  font-style: normal;
}

.button_1 {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
}

.button_2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.button_1:hover,
.button_2:hover {
  background: #8f2146;
}
/* Общие стили для всей страницы и для общих элементов - конец*/

/* Начало зоны ответственности Альмиры */
.main {
  height: 862px;
  background-color: #fbf0f4;
}

.header-wrapper {
  max-width: 1125px;
  height: 79px;
  margin-left: 245px;
  display: flex;
  align-items: center;
}

.menu {
  margin-left: 266px;
}

.menu_list {
  list-style: none;
  display: flex;
  padding-inline-start: 0;
}

.menu_list_item {
  margin-right: 40px;
}

.menu_list_item a {
  color: #150101;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.6;
}

.menu_list_item a:hover {
  color: #d23166;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 1;
  outline-style: none;
}

.header .button_1 {
  cursor: pointer;
  margin-left: auto;
}

.main-content {
  padding-top: 196px;
  padding-bottom: 213px;
}

.main-content_info {
  max-width: 665px;
  margin-left: 254px;
}

.main-content_info_tagline {
  display: inline-block;
  color: #0f0101;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.4px;
  line-height: 16px;
  font-style: normal;
  margin-bottom: 6px;
}

.main-content_info_title {
  color: #0f0101;
  font-family: "Fredoka One", sans-serif;
  font-size: 57.33px;
  font-weight: 400;
  font-style: normal;
  line-height: 120.5%;
  margin: 0 0 35px 0;
  opacity: 0.9;
}

.main-content_info_title_ice-cream {
  color: #d23166;
}

.main-content_info_text {
  max-width: 523px;
  color: #0f0101;
  font-family: "Hind Madurai", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  opacity: 0.6;
  margin-bottom: 50px;
}

.main-content .container {
  position: relative;
}

.main-content_image_ice-cream {
  position: absolute;
  top: -159px;
  left: 889px;
  z-index: 2;
}

.main-content_image_splash {
  transform: rotate(4.793deg);
  flex-shrink: 0;
  position: absolute;
  top: -30px;
  left: 745px;
  z-index: 3;
}

.oval {
  width: 365px;
  height: 353px;
  background: #d23166;
  border-radius: 365px;
  opacity: 0.1;
  position: absolute;
  left: 1000px;
  top: 126px;
  z-index: 1;
}
/* Конец зоны ответственности Альмиры */

/* Начало зоны ответственности Надежды */
.delivery {
  padding-top: 100px;
  padding-bottom: 100.2px;
}

.delivery_info {
  display: grid;
  gap: 39px;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: 200px;
  justify-content: center;
}

.delivery_info_item_wrapper {
  border-radius: 7px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.03);
}

.delivery_info_item_wrapper:hover {
    box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.03);
    border: none;
}

#delivery_info_item_wrapper_last {
  padding-top: 27px;
}

.delivery_info_item_wrapper {
  padding: 33px 26px 27px 26px;
  text-align: center;
}

.delivery_info_title {
  color: #000;
  font-family: "Hind Madurai", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 24.65px 0 9px 0;
}

#delivery_info_title_last {
  margin: 18px 0 9px 0;
}

.delivery_info_text {
  text-align: center;
  font-family: "Hind Madurai", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
}
/* Конец зоны ответственности Надежды */

/* Начало зоны ответственности Виталии - стили для раздела "Oatmeal" */

.container-outmeal {
  max-width: 100%;
  display: flex;
  background-color: #f8edf0;
  margin-bottom: 130px;
  justify-content: center;
}

.outmeal__text-section {
  max-width: 445px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 75px;
}

.outmeal__image-section {
  max-width: 574px;
}

.outmeal__title {
  color: #150101;
  font-family: Hind Madurai;
  font-size: 44.2px;
  font-style: normal;
  font-weight: 600;
  line-height: 110.5%;
  max-width: 350px;
  margin: 0;
}

.outmeal__text {
  color: #15010180;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  line-height: 26px;
  margin: 15px 0 25px 0;
}

/* Конец зоны ответственности Виталии - стили для раздела "Oatmeal" */

/* Начало зоны ответственности Нины */
.product__titles {
  text-align: center;
  color: #150101;
  font-family: Hind Madurai;
  font-size: 44.2px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.product__container {
}
.product__menu__list {
  list-style: none;
  display: flex;
  padding-inline-start: 0;
  justify-content: center;
}

.product__menu__list__item {
  margin-right: 40px;
}

.product__menu__list__item a {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.6;
}

.product__menu__list__item a:hover {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 1;
  outline-style: none;
  text-decoration: underline;
}

.product__container-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
  align-items: center;
  justify-content: center;
}

.product_button {
  width: 165px;
  height: 49px;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
  background: #d23166;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  color: #fafafa;
  font-size: 16px;
  font-style: normal;
}

.product_button:hover {
  background: #8f2146;
}
.product_info_action_text {
  color: #000;
  text-align: right;
  font-family: Hind Madurai;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.product_info_action_number {
  color: #000;
  font-family: Hind Madurai;
  margin: 6px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: line-through;
  opacity: 0.7;
}
/* Конец зоны ответственности Нины */

/* Начало зоны ответственности Диляры */

/* Конец зоны ответственности Диляры */

/* Начало зоны ответственности Ольги */
.question__content {
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 51.56px;
}

.question__form {
  display: flex;
  justify-content: center;
}

.question__input {
  font-size: 14px;
  color: rgba(15, 0, 0, 1);
}

.submit__btn {
  color: rgba(250, 250, 250, 1);
  background-color: rgba(214, 67, 116, 1);
}
/* Конец зоны ответственности Ольги */

/* Начало зоны ответственности Виталии - стили для футера */
.footer {
  background-color: #0a0808;
  color: #fff;
  font-size: 12px;
}

.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  font-weight: 100;
}

.footer__text_bold {
  font-weight: bold;
}

.footer__wrapper {
  max-width: 1100px;
  display: flex;
  margin: 70px 0;
}

.footer__link {
  text-decoration: none;
}

.footer__link:visited {
  color: #fff;
}

.footer__list {
  list-style-type: none;
  padding: 0;
}

.social-icons__list,
.pay-icons__list {
  display: flex;
}

.footer__first-box {
  max-width: 200px;
  margin-right: 15px;
}

.first-box__text {
  line-height: 139.7%;
  margin-top: 10px;
  margin-bottom: 25px;
}

.social-icons__title {
  margin-top: 0;
  margin-bottom: 10px;
}

.social-icons__list {
  max-width: 90px;
  margin: 0;
  justify-content: space-between;
}

.footer__second-box {
  max-width: 200px;
  margin-right: 15px;
}

.footer-menu__list-one {
  margin-top: 74px;
  margin-right: 90px;
  margin-left: 37px;
}

.footer-menu__item {
  margin-bottom: 10px;
}

.footer__third-box {
  max-width: 200px;
  margin-right: 15px;
}

.footer-menu__list-two {
  margin-top: 80px;
  margin-right: 55px;
  margin-left: 25px;
}

.footer__fourth-box {
  width: 450px;
  padding-top: 70px;
  padding-left: 70px;
  box-sizing: border-box;
}

.fourth-box__title {
  font-size: 16px;
  margin: 0 0 15px 0;
}

.footer__form {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.footer__input {
  outline: none;
  border: 2px solid #d64374;
  padding: 19px 135px 17px 30px;
  display: block;
  width: 100%;
  background: #ffffff00;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  font-size: 14px;
}

.footer__submit-button {
  position: absolute;
  top: 0;
  left: 255px;
  z-index: 9;
  outline: none;
  border: none;
  display: inline-block;
  background: #d23166;
  color: #fafafa;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  width: 125px;
  height: 54px;
  box-sizing: border-box;
  font-size: 20px;
  font-style: 500;
  text-align: center;
}

.footer__submit-button:hover {
  background: #8f2146;
}

::-webkit-input-placeholder {
  font-size: 14px;
}
::-moz-placeholder {
  font-size: 14px;
}
:-ms-input-placeholder {
  font-size: 14px;
}
:-moz-placeholder {
  font-size: 14px;
}

.pay-icons__list {
  margin: 0;
  width: 130px;
  height: 26px;
  justify-content: space-between;
}
/* Конец зоны ответственности Виталии - стили для футера */
